
nav.menunav ul li.btn{
	display: inline-block;
	list-style-type: none;
}
nav.menunav ul li.btn a{
	color:#fff;
	background-color: #323130;
	padding: 15px;
	text-decoration: none;
	font-size: 25px;
	margin-left: 5px;
}
nav.menunav ul li.btn:hover a{
	color:#323130;
	background-color: #fff;
	transition: 1500ms;
}
nav.menunav2 ul li.btn{
	display: inline-block;
	list-style-type: none;
	margin-bottom: 20px;
	margin-top: 20px;

}
nav.menunav2 ul li.btn a{
	color:#fff;
	background-color: #323130;
	padding: 15px;
	text-decoration: none;
	font-size: 25px;
	margin-left: 5px;
}
nav.menunav2 ul li.btn:hover a{
	color:#323130;
	background-color: #fff;
	transition: 1500ms;
}
nav.menunav ul{
 	padding-left: 38%;
}
nav.menunav2 ul{
 	padding-left: 38%;
}

header{
	background-color: #D3D3D3;
	background-position: center;
	padding-left: 47%;
	margin: 4px;	
}
body{
	background-color: #0F0F0F;
	color:#fff;
	font-size: 20px;
	font-family: Comic Sans;
}
.dark-mode {
	background-color: #fff;
	color: #0F0F0F;
}

h3.strat1{
	text-decoration: underline;
	margin: 5px;
}
h2.headline3, h2.headline2{
	text-decoration: underline;
	font-family: Comic Sans;
	padding-left: 10px;
}



img.strat{
	margin-left: 5%;
}
@media screen and (max-width: 1025px){
	header{
		background-size: 1025px;
	}
	img.echec2{
		width: 90%;
		height: 90%;
	}
	div#content2 div.right img{
		width: 90%;
	}

}
img.echec2{
	margin-left: 35%;
} 
h2.story{
	text-decoration: underline;
	padding-left: 10px;
} 
div#content2 div.left p{
	padding-right: 37%;
}
div#content2 div.left img{
	padding-left: 20%;
	width: 25%;
}
div#content2 div.right h2.versus{
	padding-left: 60%;
	font-weight: 25%;
	text-decoration: underline;

}
div#content2 div.right p.p{
	padding-left: 55%;
	font-weight: 25%;

}
div#content2 div.right img{
	padding-left: 60%;
	width: 25%;
}
button{
	padding-left: 5px;
	font-size: 35px;
	width: 20%;
	border-radius: 30px;
	border-color: black;
}
@media screen and (max-width: 970px){
	button{
		width: 95%;
		height: 95%;

	}
	img.echec2{
		width: 65%;
		position: left;
	}
	nav.menunav{
		width: 30%;
		padding: 10px;
	}
	nav.menunav ul li.btn{
		margin: 10px;
	}
	h2.headline2{
		padding-top: 20px;
	}
}
