
body {
	background-color: #0F0F0F;
	color:#fff; 
}
.dark-mode {
	background-color: #fff;
	color: #0F0F0F;
}
header{
	background-color: #D3D3D3;
	background-position: center;
	padding-left: 47%;
	margin: 4px;
	background-size: cover;
	background-attachment: fixed;	
}
div#content div{
	display: inline-block;
	width: 49%;
}
}
div#content div.leftbox p{
	margin-left: 11px;
	vertical-align: top;
	font-style: ;
}

/* METTRE tout à DROITE plus ou moins*/
div#content div.rightbox img.hist{
	width: 35%;	
	/*margin-left: 38%;*/
}
div#content div.rightbox iframe{ 
	/*margin-left: 38%; */
}
div#content div.leftbox img.r, p.regle{
	margin-left: 38%;
}
div#content div.leftbox img.s{
	margin-left: 36%;
}
div#content div.leftbox p.left{
	margin-left: 36%;
}
/*ADAPTER L'ECRAN AU TELEPHONE*/
@media screen and (max-width: 1025px) {
	header{
		background-size: 1025px;

	}nav.menunav ul li.btn{
		margin: 22px;
	} 
	
	
	div#content div.rightbox{
		width: 90%;

	}
	div#content div.rightbox img.hist{
		margin-left: 50%;
		width: 50%;
	}
	div#content div.rightbox p{
		padding-left: 38%;
	}
	div#content div.rightbox iframe{
		width: 95%;
	}
	div#content div.rightbox p.tournoi{
		padding-left: 10px;
	}
	div#content div.leftbox p.regle{
		margin-left: 65%;
	}
	div#content div.leftbox img.r{
		margin-left: 40%;
	}
	div#content div.leftbox img.s{
		margin-left: 20%;
	}
	div#content div.leftbox p.left{
		margin-left: 20%;
	}
	div#content div.leftbox{
		width: 90%;
		
	}
}



/*changer la taille*/

div#content div.rightbox{
	vertical-align: top;	
}

div#content div p{
	font-size: 20px;
	font-family: ;
	text-decoration: underline;
}

div#content div img, iframe{
	border-radius: 15px;
}

/*la navigation*/
nav.menunav ul li.btn{	
	display: inline-block;
	list-style-type: none;

}

nav.menunav ul{
 	padding-left: 38%;
}
nav.menunav ul li.btn a{
	color:#fff;
	background-color: #323130;
	padding: 15px;
	text-decoration: none;
	font-size: 25px;
	margin-left: 5px;
}
nav.menunav ul li.btn:hover a{
	color:#323130;
	background-color: #fff;
	transition: 1500ms;
}	
button{
	padding-left: 5px;
	font-size: 35px;
	width: 20%;
	border-radius: 30px;
	border-color: black;
}
@media screen and (max-width: 970px){
	button{
		width: 85%;
		height: 85%;
	}

}
/*les blocs*/
